@import url('./fonts.css');

:root {
    --col-width: calc(100% / 12);
    --container-space: 120px;
    --container-width: 1264px;
    --arrow-size: 40px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #383838;
}

.svg_sprite {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.container {
    max-width: var(--container-width);
    padding: var(--container-space) 16px;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 104px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.link {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
    color: #3077c6;
    margin-top: 18px;
}

.col-lg-1 {
    width: var(--col-width);
}

.col-lg-2 {
    width: calc(var(--col-width) * 2);
}

.col-lg-3 {
    width: calc(var(--col-width) * 3);
}

.col-lg-4 {
    width: calc(var(--col-width) * 4);
}

.col-lg-5 {
    width: calc(var(--col-width) * 5);
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: calc(var(--col-width) * 7);
}

.col-lg-8 {
    width: calc(var(--col-width) * 8);
}

.col-lg-9 {
    width: calc(var(--col-width) * 9);
}

.col-lg-10 {
    width: calc(var(--col-width) * 10);
}

.col-lg-11 {
    width: calc(var(--col-width) * 11);
}

.col-lg-12 {
    width: 100%;
}

[class*="col-"] {
    padding-left: 8px;
    padding-right: 8px;
}

.topsection {
    background-image: url("./../images/topsection_background.jpg") ;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.topsection-container {
    min-height: 100vh;
    padding-top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 51px 0 202px;
}

.logo {
    width: 205px;
    height: 40px;
}

.header-items {
    display: flex;
    gap: 51px;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
}

.header-links__item {
    position: relative;
}

.header-links__item--active::after {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 4px;
    opacity: 0;
    background-color: #f5bd41;
    left: 50%;
    bottom: -10px;
    transition-property: width, opacity;
    transition-delay: 160ms;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transform: translateX(-50%);
}

.header-links__item--active:hover.header-links__item--active::after {
    width: 90%;
    opacity: 1;
}

.header-buttons {
    max-width: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header-buttons__night {
    width: 30px;
    height: 30px;
}

.header-buttons__account {
    width: 40px;
    height: 40px;
}

.header-buttons__menu {
    height: 16px;
    width: 24px;
    display: none;
}

.topsection-title {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 1.18;
    text-align: left;
    margin-bottom: 145px;
}

.topsection-form {
    display: flex;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    height: 64px;
    border-radius: 8px;
    margin-bottom: 120px;
}

.input {
    color: #383838;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    border-radius: 8px;
    border: 3px solid transparent;
    width: 100%;
    height: 100%;
}

.input::placeholder {
    color: #383838;
}

.topsection-city {
    position: relative;
    flex: auto;
    min-width: 275px;
}

.topsection-city__label  {
    position: absolute;
    top: -44px;
    left: 25px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
}

.topsection-city__input {
    padding-left: 22px;
}

.search-icon {
    display: none;
}

.topsection-date {
    display: flex;
    justify-items: normal;
    border: 1px solid #cecece;
    border-radius: 8px;
    max-width: 259px;
}

.check-in, .check-out {
    position: relative;
}

.check-in__input {
    padding-left: 22px;
}

.check-in__label, .check-out__label {
    position: absolute;
    top: -44px;
    left: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
}

.check-out__label {
    left: -38px;
}

.separator {
    align-self: center;
}

.topsection-guests {
    display: flex;
    flex-basis: 314px;
    min-width: 314px;
}

.topsection-adults, .topsection-children, .topsection-room {
    position: relative;
}

.topsection-adults {
    border-left-color: transparent;
}

.topsection-guests__label {
    display: none;
}

.topsection-adults__label, .topsection-children__label, .topsection-room__label {
    position: absolute;
    top: 23px;
    left: 18px;
    color: #383838;
}

.topsection-adults__label{
    left: 44px;
}

.topsection-adults__input {
    padding-left: 26px;
}

.topsection-children__label {
    left: 21px;
}

.topsection-children__input  {
    padding-left: 4px;
}

.topsection-room__input {
    padding-right: 10px;
}

.topsection-button {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.15;
    flex-basis: 192px;
    text-align: center;
    background-color: #3077c6;
    border: none;
    border-radius: 8px;
}

.topsection-apps {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.topsection-apps__googleplay {
    width: 135px;
    height: 40px;
}

.topsection-apps__appstore {
    width: 120px;
    height: 40px;
}

.advantages-title {
    position: relative;
}

.advantages-title::after {
    position: absolute;
    display: block;
    content: "";
    width: 100px;
    height: 4px;
    background-color: #f5bd41;
    left: 50%;
    bottom: -23px;
    transform: translate(-50%);
}

.advantages-col {
    text-align: center;
}

.advantages-col__image {
    width: 100px;
    height: 100px;
}

.support {
    width: 75px;
}

.communication {
    width: 84px;
}

.reviews {
    width: 92px;
    margin: -6px 0 6px;
}

.advantages-col__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 0.8;
    margin-top: 48px;
}

.homes {
    background-color: #eaf0f9;
}

.homes-images {
    position: relative;
}

.homes-col {
    text-align: center;
}

.homes-col__image {
    width: 100%;
    max-width: 296px;
}

.homes-col__link, .homes-col__subtitle {
    text-align: left;
}

.homes-arrow {
    display: flex;
    background: #f3f3f4;
    width: var(--arrow-size);
    height: var(--arrow-size);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    box-shadow: 1px 4px 4px rgba(100, 100, 100, 0.2);
}

.subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.16;
    color: #bfbfbf;
    margin-top: 27px;
}

.arrow_svg {
    width: 9px;
    height: 21px;
    margin: auto;
}

.destinations-container {
    padding-bottom: 208px;
}

.destinations-tabs {
    display: flex;
    background-color: #f3f3f4;
    margin-bottom: 64px;
    width: 50%;
    border-radius: 8px;
}

.destinations-tabs__button {
    background-color: #f3f3f4;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    width: 100%;
    height: 64px;
    border-color: transparent;
    border-radius: 8px;
}

.destinations-tabs__button:hover {
    color: #ffffff;
    background-color: #3077c6;
}

.destinations-title {
    margin-bottom: 100px;
}


.destinations-images {
    position: relative;
}

.destinations-col {
    position: relative;
    text-align: center;
}

.destinations-items {
    display: flex;
}

.destinations-items:hover::after {
    position: absolute;
    background-color: #383838;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.destinations-items__link-hidden {
    position: absolute;
    background-color: #ffffff;
    width: 128px;
    height: 48px;
    text-align: center;
    border: 1px solid #3077c6;
    border-radius: 8px;
    color: #3077c6;
    font-size: 18px;
    line-height: 1.17;
    padding: 12px;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 4px));
    z-index: 2;
}

.destinations-col:hover .destinations-items__link-hidden {
    opacity: 1;
}

.destinations-items__image {
    width: 100%;
    max-width: 296px;
}

.destinations-col__link {
    text-align: left;
    margin-top: 25px;
}

.destinations-arrow {
    display: flex;
    background: #f3f3f4;
    width: var(--arrow-size);
    height: var(--arrow-size);
    border-radius: 50%;
    position: absolute;
    bottom: -137px;
    right: calc(50% - var(--arrow-size) / 2);
    transform: rotate(90deg);
    box-shadow: 1px 4px 4px rgba(100, 100, 100, 0.2);
}

.sign-up-container {
    padding: 0 16px;
}

.sign-up-row {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 24px;
    padding: 57px 24px;
    align-items: center;
    background-color: #eaf0f9;

}

.sign-up-logo, .sign-up-link {
    display: none;
}

.sign-up-cross {
    position: absolute;
    top: 30px;
    right: 25px;
    width: 26px;
    height: 26px;
}

.sign-up-circle {
    display: flex;
    background-color: #ffffff;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.sign-up-circle__svg {
    width: 50px;
    height: 44px;
}

.sign-up-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-up-col__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
}

.sign-up-col__button {
    background-color: #ffffff;
    width: 128px;
    height: 48px;
    text-align: center;
    border: 1px solid #3077c6;
    border-radius: 8px;
    color: #3077c6;
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 0;
}

.review-container {
    font-weight: 400;
    font-size: 18px;
}

.review-title {
    margin-bottom: 111px;
}

.review-images {
    position: relative;
}

.review-col {
    position: relative;
    height: 100%;
}

.review-col__image {
    width: 100%;
    max-width: 400px;
}

.review-col__price {
    position: absolute;
    background-color: rgba(56, 56, 56, .7);
    color: #ffffff;
    width: 100%;
    height: 48px;
    bottom: 2px;
    padding: 17px 24px;
}

.review-arrow {
    display: flex;
    background: #f3f3f4;
    width: var(--arrow-size);
    height: var(--arrow-size);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(25%, -50%);
    box-shadow: 1px 4px 4px rgba(100, 100, 100, 0.2);
}

.review-items {
    margin-top: -4px;
    padding: 0 22px 24px 24px;
    background-color: #eaf0f9;
}

.review-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
}

.review-score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.review-score__block {
    background-color: #10367c;
    color: #ffffff;
    font-weight: 600;
    width: 48px;
    height: 32px;
    border-radius: 8px;
    text-align: center;
    padding: 4px;
    margin-top: 5px;
}

.review-score__subtitle {
    color: #bfbfbf;
    font-size: 14px;
}

.review-links__name {
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
}

.review-links__destination {
    font-weight: 400;
    font-size: 18px;
    margin-top: 16px;
}

.person {
    justify-content: flex-start;
    gap: 16px;
    padding-left: 6px;
}

.person-image {
    padding-top: 2px;
}

.person-image__svg {
    width: 54px;
    height: 54px;
}

.person-data {
    padding: 8px 0 0 4px;
}

.person-data__country {
    display: flex;
    color: #bfbfbf;
    text-align: start;
    align-items: center;
}

.icon {
    margin-left: -5px;
    width: 2em;
}

.person-comment {
    text-align: left;
}

.footer {
    background-color: #10367C;
}

.footer-container {
    margin: 0 auto;
}

.logo-footer {
    display: none;
}

.footer-row {
    margin-left: 0;
    color: #FFFFFF;
}

.footer-col {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    padding: 0;
}

.footer-col__title {
    font-weight: 500;
}

.footer-col__link {
    margin: 24px 0;
}

.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-top: 40px;
}

[class*="-column"] {
    display: grid;
    grid-template-rows: auto;
}

.lg-1-column {
    grid-template-columns: 1fr;
}

.lg-2-column {
    grid-template-columns: repeat(2, 1fr);
}

.lg-3-column {
    grid-template-columns: repeat(3, 1fr);
}

.lg-4-column {
    grid-template-columns: repeat(4, 1fr);
}

.lg-5-column {
    grid-template-columns: repeat(5, 1fr);
}

.lg-6-column {
    grid-template-columns: repeat(6, 1fr);
}

.lg-7-column {
    grid-template-columns: repeat(7, 1fr);
}

.lg-8-column {
    grid-template-columns: repeat(8, 1fr);
}

.lg-9-column {
    grid-template-columns: repeat(9, 1fr);
}

.lg-10-column {
    grid-template-columns: repeat(10, 1fr);
}

.lg-11-column {
    grid-template-columns: repeat(11, 1fr);
}

.lg-12-column {
    grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 1024px) {
    /* For mobile tablets: */

    :root {
        --container-space: 80px;
        --container-width: 640px;
    }

    .advantages-title::after {
        display: none
    }

    .col-md-1 {
        width: var(--col-width);
    }

    .col-md-2 {
        width: calc(var(--col-width) * 2);
    }

    .col-md-3 {
        width: calc(var(--col-width) * 3);
    }

    .col-md-4 {
        width: calc(var(--col-width) * 4);
    }

    .col-md-5 {
        width: calc(var(--col-width) * 5);
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: calc(var(--col-width) * 7);
    }

    .col-md-8 {
        width: calc(var(--col-width) * 8);
    }

    .col-md-9 {
        width: calc(var(--col-width) * 9);
    }

    .col-md-10 {
        width: calc(var(--col-width) * 10);
    }

    .col-md-11 {
        width: calc(var(--col-width) * 11);
    }

    .col-md-12 {
        width: 100%;
    }


    .title {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 65px;
    }

    .row {
        margin-bottom: -16px;
    }

    .header {
        padding :25px 0 120px;
    }

    .logo {
        width: 160px;
        height: 32px;
    }

    .header-links {
        display: none;
    }

    .header-buttons {
        gap: 20px;
        max-width: none;
        height: 32px;
        align-items: center;
    }

    .header-buttons__night {
        width: 24px;
    }

    .header-buttons__account {
        width: 32px;
    }

    .header-buttons__menu {
        display: unset;
    }

    .topsection-title {
        text-align: left;
    }

    .form {
        background-color: #f5bd41;
        border: 8px solid #f5bd41;
        margin-bottom: 76px;
    }

    .topsection-form {
        flex-direction: column;
        background-color: #f5bd41;
        height: min-content;
        gap: 8px;
        margin: 0;
    }

    .topsection-form > div {
        flex: fit-content;
        height: 64px;
    }

    .label {
        font-size: 14px;
    }

    .input {
        height: 64px;
        padding-top: 22px;
        padding-left: 12px;
        font-weight: 500;
        font-size: 17px;
    }

    .topsection-city__input {
        padding: 0 32px;
    }

    .topsection-city__label {
        display: none;
    }

    .search-icon {
        display: block;
        position: absolute;
        width: 1em;
        height: 1em;
        top: 23px;
        left: 12px;
    }

    .topsection-date {
        border-color: transparent;
        justify-content: space-between;
        max-width: inherit;
        gap: 8px;
        position: relative;
    }

    .check-in, .check-out {
        width: 100%;
    }

    .check-in__label, .check-out__label {
        position: absolute;
        top: 11px;
        left: 15px;
        color: #383838;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 1.16;
    }

    .topsection-guests {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 12px 0;
    }

    .topsection-guests .input {
        height: 40px;
    }

    .topsection-adults, .topsection-children, .topsection-room {
        position: relative;
    }

    .topsection-children {
        border-left: 1px solid #bfbfbf;
    }

    .topsection-room {
        border-left: 1px solid #bfbfbf;
    }

    .topsection-adults__label, .topsection-children__label, .topsection-room__label {
        position: absolute;
        font-weight: 400;
        top: 1px;
        left: 15px;
    }

    .separator {
        display: none;
    }

    .topsection-button {
        flex: auto;
        height: 48px;
    }

    .topsection-apps {
        padding-bottom: 0;
    }

    .advantages-col {
        margin-bottom: 16px;
    }

    .advantages-col__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.17;
    }

    .homes-row {
        margin-bottom: 0;
    }

    .villa, .hostel {
        display: none;
    }

    .link {
        font-size: 20px;
        margin-top: 16px;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.17;
        margin-top: 16px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .destinations-container {
        padding-bottom: 80px;
    }

    .destinations-row {
        margin-bottom: 0;
    }

    .destinations-tabs {
        display: flex;
        background-color: #f3f3f4;
        width: 50%;
        border-radius: 8px;
        margin-bottom: 48px;
    }

    .destinations-tabs__button {
        background-color: #f3f3f4;
        font-size: 19px;
        height: 48px;
    }

    .destinations-items__link-hidden {
        display: none;
    }

    .norway, .island {
        display: none;
    }

    .destinations-arrow {
        display: flex;
        background: #f3f3f4;
        width: var(--arrow-size);
        height: var(--arrow-size);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        box-shadow: 1px 4px 4px rgba(100, 100, 100, 0.2);
    }

    .sign-up-container {
        justify-content: space-between;
    }

    .sign-up-row {
        padding: 32px 0 32px;
        justify-content: space-between;
        background-color: #ffffff;
    }

    .sign-up-cross {
        position: static;
    }

    .sign-up-circle, .sign-up-col__button {
        display: none;
    }

    .sign-up-logo {
        display: flex;
        width: 86px;
        height: 86px;
        background-color: #3077c6;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        padding: 0 2px;
    }

    .sign-up-logo__image {
        fill: #ffffff;
        width: 54px;
        height: 11px;
    }

    .sign-up-col__title {
        font-size: 20px;
    }

    .sign-up-link {
        display: flex;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.17;
        color: #3077c6;
    }

    .review-col__price {
        bottom: 20px;
    }

    .review_hotel {
        display: none;
    }

    .review-links__name, .review-links__destination {
        font-size: 18px;
    }
    
    .review-score__subtitle {
        text-align: right;
    }
    
    .logo-footer {
        display: flex;
        fill: #ffffff;
        text-align: center;
        margin: 0 auto 40px;
        width: 150px;
        height: 30px;
    }

    .footer-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

    .footer-col {
        width: fit-content;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        text-decoration: underline;
        text-align: center;
    }

    .footer-col__link {
        display: none;
    }

    .footer-copyright {
        font-size: 13px;
        text-align: center;
        line-height: 1.16;
        margin-top: 48px;
    }

}

@media (max-width: 480px) {
    /* For mobile phones: */

    :root {
        --col-width: calc(100% / 6);
        --container-space: 40px;
        --container-width: 360px;
        --arrow-size: 28px;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    .col-sm-1 {
        width: var(--col-width);
    }

    .col-sm-2 {
        width: calc(var(--col-width) * 2);
    }

    .col-sm-3 {
        width: calc(var(--col-width) * 3);
    }

    .col-sm-4 {
        width: calc(var(--col-width) * 4);
    }

    .col-sm-5 {
        width: calc(var(--col-width) * 5);
    }

    .col-sm-6 {
        width: calc(var(--col-width) * 6);
    }

    .topsection {
        order: 0;
    }

    .advantages {
        order: 1;
    }

    .homes {
        order: 2;
    }

    .destinations {
        order: 3;
    }

    .review {
        order: 4;
    }

    .sign-up {
        order: 5;
    }

    .footer {
        order: 6;
    }

    .title {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.17;
        text-align: center;
        margin-bottom: 32px;
    }

    .topsection {
        background-position: center;
    }

    .header {
        align-items: center;
        padding: 12px 0 46px;
    }

    .topsection-title {
        font-size: 30px;
        text-align: left;
    }

    .logo {
        width: 120px;
        height: 24px;
    }

    .header-buttons {
        gap: 16px;
        max-width: none;
        height: 32px;
        align-items: center;
    }

    .header-buttons__night {
        width: 16px;
    }

    .header-buttons__account {
        width: 24px;
    }

    .form {
        margin-bottom: 32px;
    }

    .topsection-form > div {
        flex: fit-content;
        height: 64px;
        min-width: 100%;
    }

    .input {
        font-size: 15px;
        height: 48px;
        padding-top: 16px;
        padding-left: 5px;
    }

    .label {
        font-size: 12px;
    }

    .topsection-city__input {
        padding-top: 0;
        padding-left: 33px;
    }

    .search-icon {
        top: 16px;
    }

    .topsection-guests {
        padding: 0;
    }

    .topsection-adults__label, .topsection-children__label, .topsection-room__label, .check-in__label, .check-out__label {
        top: 6px;
        left: 8px;
    }

    .topsection-guests .input {
        padding-top: 19px;
        height: 48px;
    }

    .topsection-button {
        font-size: 19px;
    }

    .advantages-container {
        padding-top: 24px;
    }

    .row {
        flex-direction: column;
        align-content: center;
        margin-bottom: 0;
    }

    .advantages-col {
        max-height: 104px;
        margin-bottom: 32px;
    }

    .advantages-col__image {
        width: 70px;
        height: 70px;
    }

    .support {
        width: 53px;
    }

    .communication {
        width: 59px;
    }

    .booking {
        width: 70px;
    }

    .reviews {
        width: 65px;
        margin: -2px 0 0;
    }

    .advantages-col__subtitle {
        font-size: 15px;
        font-weight: 400;
        line-height: 1;
        margin-top: 16px;
    }

    .col-sm-4:last-child .advantages-col:last-child {
        margin-bottom: 0;
    }

    .homes-row {
        flex-direction: row;
        margin-bottom: 0;
    }

    .homes-col__image {
        max-width: 156px;
    }

    .link {
        font-size: 12px;
        margin-top: 4px;
    }

    .subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        margin-top: 4px;
    }

    .homes-arrow {
        top: 44%;
        right: -4px;
    }

    .arrow_svg {
        width: 5px;
        height: 14px;
    }

    .destinations-container {
        padding-bottom: 40px;
    }

    .destinations-row {
        flex-direction: row;
        margin: 0 -12px 0 -5px;
    }

    .destinations-tabs {
        width: 100%;
        max-width: var(--container-width);
        justify-content: space-between;
        background-color: #ffffff;
        margin-bottom: 26px;
    }

    .destinations-tabs__button {
        background-color: #ffffff;
        font-size: 19px;
        height: 32px;
        border: 1px solid #f3f3f4;
    }

    .regions, .cities, .places {
        flex-basis: 98px;
    }

    .norway, .island {
        display: none;
    }

    .destinations-items__image {
        max-width: 156px;
    }

    .destinations-arrow {
        top: 48%;
        right: -2px;
    }

    .sign-up {
        order: 5;
    }

    .sign-up-container {
        justify-content: space-between;
    }

    .sign-up-row {
        padding: 24px 0;
        justify-content: space-between;
    }

    .sign-up-cross {
        position: relative;
        top:0;
        right: 0;
        width: 16px;
        height: 16px;
    }

    .sign-up-circle, .sign-up-col__button {
        display: none;
    }

    .sign-up-logo {
        display: flex;
        width: 58px;
        height: 58px;
        background-color: #3077c6;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        padding: 0 2px;
    }

    .sign-up-logo__image {
        fill: #ffffff;
        width: 54px;
        height: 11px;
    }

    .sign-up-col__title {
        font-size: 12px;
        text-align: justify;
        max-width: 164px;
    }

    .sign-up-link {
        display: flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.17;
        color: #3077c6;
    }

    .review {
        background-color: #eaf0f9;
    }

    .review-items {
        padding: 0;
    }

    .review-item {
        padding-top: 6px;
    }

    .review_hostel, .review-arrow, .review-col__price {
        display: none;
    }

    .review-col__image {
        max-width: 325px;
    }

    .review-links__name, .review-links__destination{
        font-size: 15px;
        padding-top: 2px;
    }

    .review-score__block {
        width: 40px;
        height: 26px;
        font-weight: 500;
        font-size: 15px;
    }

    .review-score__subtitle {
        font-size: 12px;
    }

    .person {
        padding-top: 12px;
    }

    .person-image__svg {
        width: 44px;
        height: 44px;
    }

    .person-data {
        font-size: 15px;
    }

    .person-comment {
        padding-top: 16px;
        font-size: 15px;
    }

    .reviews-slider {
        display: flex;
        gap: 8px;
        justify-content: center;
    }

    .circle {
        width: 8px;
        height: 8px;
        margin-top: 32px;
        border: 1px solid #333333;
        border-radius: 50%;
    }

    .circle:hover {
        background-color: #333333;
    }

    .logo-footer {
        display: flex;
        fill: #ffffff;
        text-align: center;
        margin: 0 auto 39px;
        width: 98px;
        height: 19px;
    }

    .footer-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
        margin-left: -6px;
    }

    .footer-col {
        width: fit-content;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        text-decoration: underline;
        text-align: center;
    }

    .footer-col__link {
        display: none;
    }

    .footer-copyright {
        font-size: 12px;
        text-align: center;
        line-height: 1.16;
        color: #FFFFFF;
        margin: 33px 0 33px 4px;
    }

}
